name: Python Lint (flake8)

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install flake8
        run: pip install flake8

            - name: Run flake8
        run: |
          # E501: satır uzunluğu hatasını kapattım (çok uzun satırlara izin)
          # --exit-zero: Hata bulsa bile işin başarısız sayılmamasını sağlar
          flake8 --ignore=E501 --exit-zero .

